anyio==4.3.0
Babel==2.14.0
beautifulsoup4==4.12.2
blinker==1.4
bs4==0.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
distro-info===1.1build1
docutils==0.20.1
essentials==1.1.5
essentials-openapi==1.0.9
et-xmlfile==1.1.0
exceptiongroup==1.2.0
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.42
gmpy2==2.1.5
h11==0.14.0
httpcore==1.0.4
httplib2==0.20.2
httpx==0.27.0
idna==3.6
importlib-metadata==4.6.4
jeepney==0.7.1
jieba==0.42.1
Jinja2==3.1.3
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-git-revision-date-localized-plugin==1.2.4
mkdocs-heti-plugin==0.1.6
mkdocs-material==9.5.13
mkdocs-material-extensions==1.3.1
mkdocs-rss-plugin==1.12.1
mkdocs-statistics-plugin==0.1.2
more-itertools==8.10.0
Naked==0.1.32
neoteroi-mkdocs==1.0.5
netifaces==0.11.0
oauthlib==3.2.0
openpyxl==3.1.2
packaging==23.2
paginate==0.5.6
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
pycryptodome==3.20.0
PyExecJS==1.5.1
Pygments==2.17.2
PyGObject==3.42.1
PyJWT==2.3.0
pymdown-extensions==10.7.1
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
pyyaml_env_tag==0.1
regex==2023.12.25
requests==2.31.0
rich==13.7.1
SecretStorage==3.3.1
shellescape==3.8.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
social==0.1.dev3
soupsieve==2.5
statistics==1.0.3.5
systemd-python==234
termynal==0.12.1
typing_extensions==4.10.0
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.1.0
wadllib==1.3.6
watchdog==4.0.0
xlwt==1.3.0
zipp==1.0.0
