mkdocs-material
mkdocs-git-revision-date-localized-plugin
jieba
rich
mkdocs-statistics-plugin
termynal
neoteroi-mkdocs
mkdocs-rss-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-authors-plugin
mkdocs-awesome-pages-plugin
mkdocs-glightbox